<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJS8lO_SEi3Zgy6zH5O4fOfN11q1g18e4</string>
	<key>GCM_SENDER_ID</key>
	<string>1092869445175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passwordManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>password-manager-36a4f</string>
	<key>STORAGE_BUCKET</key>
	<string>password-manager-36a4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092869445175:ios:e3c4cb4c77e4d9063651b2</string>
</dict>
</plist>